In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import seaborn as sns

In [39]:
dataFrame = pd.read_csv("d:/Programming Projects/PROJECTS_/Customer Churn Prediction/Data/Telco_Customer_Chern_Cleaned.csv")

In [40]:
print("Shape: ", dataFrame.shape)
print("\nFirst 5 Rows:")
display(dataFrame.head())

Shape:  (7043, 31)

First 5 Rows:

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,-1.277445,-1.160323,-0.994242,False,True,False,False,True,False,...,False,False,False,False,False,True,False,True,False,False
1,0,0.066327,-0.259629,-0.173244,True,False,False,True,False,False,...,False,False,False,True,False,False,False,False,True,False
2,0,-1.236724,-0.362660,-0.959674,True,False,False,True,False,False,...,False,False,False,False,False,True,False,False,True,True
3,0,0.514251,-0.746535,-0.194766,True,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
4,0,-1.236724,0.197365,-0.940470,False,False,False,True,False,False,...,False,False,False,False,False,True,False,True,False,True

In [41]:
print("\nInfo:")
display(dataFrame.info())

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 31 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   SeniorCitizen                          7043 non-null   int64
 1   tenure                                 7043 non-null   float64
 2   MonthlyCharges                         7043 non-null   float64
 3   TotalCharges                           7043 non-null   float64
 4   gender_Male                            7043 non-null   bool
 5   Partner_Yes                            7043 non-null   bool
 6   Dependents_Yes                         7043 non-null   bool
 7   PhoneService_Yes                       7043 non-null   bool
 8   MultipleLines_No phone service         7043 non-null   bool
 9   MultipleLines_Yes                      7043 non-null   bool
 10  InternetService_Fiber optic            7043 non-null   bool
 11  InternetService_No                     7043 non-null   bool
 12  OnlineSecurity_No internet service     7043 non-null   bool
 13  OnlineSecurity_Yes                     7043 non-null   bool
 14  OnlineBackup_No internet service       7043 non-null   bool
 15  OnlineBackup_Yes                       7043 non-null   bool
 16  DeviceProtection_No internet service   7043 non-null   bool
 17  DeviceProtection_Yes                   7043 non-null   bool
 18  TechSupport_No internet service        7043 non-null   bool
 19  TechSupport_Yes                        7043 non-null   bool
 20  StreamingTV_No internet service        7043 non-null   bool
 21  StreamingTV_Yes                        7043 non-null   bool
 22  StreamingMovies_No internet service    7043 non-null   bool
 23  StreamingMovies_Yes                    7043 non-null   bool
 24  Contract_One year                      7043 non-null   bool
 25  Contract_Two year                      7043 non-null   bool
 26  PaperlessBilling_Yes                   7043 non-null   bool
 27  PaymentMethod_Credit card (automatic)  7043 non-null   bool
 28  PaymentMethod_Electronic check         7043 non-null   bool
 29  PaymentMethod_Mailed check             7043 non-null   bool
 30  Churn_Yes                              7043 non-null   bool
dtypes: bool(27), float64(3), int64(1)
memory usage: 405.9 KB

None

In [42]:
print("\nSummary Statistics:")
display(dataFrame.describe())

Summary Statistics:

       SeniorCitizen        tenure  MonthlyCharges  TotalCharges
count    7043.000000  7.043000e+03    7.043000e+03  7.043000e+03
mean        0.162147 -1.916841e-17   -6.204512e-17 -1.462852e-17
std         0.368612  1.000071e+00    1.000071e+00  1.000071e+00
min         0.000000 -1.318165e+00   -1.545860e+00 -9.991203e-01
25%         0.000000 -9.516817e-01   -9.725399e-01 -8.298459e-01
50%         0.000000 -1.372744e-01    1.857327e-01 -3.904632e-01
75%         0.000000  9.214551e-01    8.338335e-01  6.642871e-01
max         1.000000  1.613701e+00    1.794352e+00  2.826743e+00

In [43]:
print("\nChurn Value Counts:")
display(dataFrame['Churn_Yes'].value_counts())

Churn Value Counts:

Churn_Yes
False    5174
True     1869
Name: count, dtype: int64

In [44]:
categorical_cols = dataFrame.select_dtypes(include='object').columns.tolist()
numerical_cols = dataFrame.select_dtypes(include=np.number).columns.tolist()

In [45]:
for col in categorical_cols:
    plot.figure(figsize=(6, 4))
    sns.countplot(data=dataFrame, x=col, hue='Churn')
    plot.title(f"{col} vs Churn")
    plot.xticks(rotation=45)
    plot.tight_layout()
    plot.savefig(f"d:/Programming Projects/PROJECTS_/Customer Churn Prediction/Visuals/{col}_vs_Churn.png")
    plot.close()

In [46]:
for col in numerical_cols:
    if col != 'Churn_Yes':  # avoid plotting target as a feature
        plot.figure(figsize=(6, 4))
        sns.histplot(data=dataFrame, x=col, hue='Churn_Yes', kde=True, element="step")
        plot.title(f"{col} Distribution by Churn")
        plot.tight_layout()
        plot.savefig(f"d:/Programming Projects/PROJECTS_/Customer Churn Prediction/Visuals/{col}_distribution_by_Churn.png")
        plot.close()

In [47]:
plot.figure(figsize=(10, 8))
sns.heatmap(dataFrame[numerical_cols].corr(), annot=True, cmap="coolwarm", fmt=".2f")
plot.title("Correlation Heatmap (Numerical Features)")
plot.tight_layout()
plot.savefig("d:/Programming Projects/PROJECTS_/Customer Churn Prediction/Visuals/correlation_heatmap.png")
plot.close()

In [48]:
if 'Churn' in dataFrame.columns and dataFrame['Churn'].dtype == 'object':
    churn_rate = dataFrame['Churn'].value_counts(normalize=True).get('Yes', 0) * 100
elif 'Churn_Yes' in dataFrame.columns:
    churn_rate = dataFrame['Churn_Yes'].mean() * 100
else:
    churn_rate = None

In [49]:
findings = f"""
1. Dataset contains {dataFrame.shape[0]} rows and {dataFrame.shape[1]} columns.
2. Churn distribution is imbalanced with approx {churn_rate:.2f}% churn rate.
3. Tenure, MonthlyCharges, and Contract type show clear patterns with churn.
4. Customers with month-to-month contracts, no dependents, and low tenure have higher churn.
"""

with open("d:/Programming Projects/PROJECTS_/Customer Churn Prediction/Reports/EDA_Findings.txt", "w") as f:
    f.write(findings)

print("EDA complete. Churn rate calculated:", churn_rate)

EDA complete. Churn rate calculated: 26.536987079369588